%section#feeds-news.box.feeds
  %h1.box-title Mina Kominnyheter
  .box-instructions{ class: @news_entries.present? ? "" : "show"}
    %p= raw "Denna box visar nyheter från Vår kommun, Dator & telefon, Min förvaltning och Mitt arbetsfält, baserat på vad du valt i #{link_to "Min profil", edit_user_path(current_user)}."
    %p Du kan dessutom lägga till fler nyhetsflöden genom att klicka på pilen uppe till höger i denna box.
  %ul.box-content
    = render "feeds_entries", entries: @news_entries, category: 'news'

  %a.toggle-instructions{ "role" => "button", href: "#",  title: "Visa instruktioner"} ?

  .dropdown.box-menu.pull-right
    %a#feeds-news-menu.dropdown-toggle{ "role" => "button", "data-toggle" => "dropdown", "href" => "#", "title" => "Anpassa denna box" }
      %span.icon-caret-down.icon-large
    %menu.dropdown-menu{ "aria-labelledby" => "feeds-news-menu" }
      %li= link_to "Hantera dessa flöden...", user_select_feeds_path('news')
      %li= link_to "Återställ dessa flöden", user_reset_feeds_path(:news), data: { confirm: 'Vill du återställa alla flöden för Mina Kominnyheter?', method: :patch }
      - if admin?
        %li= link_to "Administrera...", feeds_path
