%section.start-search
  -# %h1.box-title Snabbnavigering
  .box-content
    = form_tag('https://s2.malmo.se/', method: "get") do
      .form-group
        = label_tag "start-search-intranet", "Gå direkt till: ", class: "control-label"
        .controls
          = text_field_tag "start-search-intranet", nil, name: "q", "autocapitalize" => "off", "autocorrect" => "off", "data-autocomplete-url" => 'https://s2.malmo.se/search/autocomplete', "data-images-url" => 'https://s2.malmo.se', "data-caller" => "Masthead", class: "form-control input-lg", placeholder: "verktyg, system eller information"

    = form_tag(users_search_path, method: "get") do
      .form-group
        = label_tag "start-search-employees", "Slå upp i kontaktboken: ", class: "control-label"
        .controls
          = text_field_tag "start-search-employees", nil, name: "q", "data-autocomplete-url" => users_suggest_path, class: "form-control input-lg", placeholder: "förnamn, efternamn, telefon eller användarnamn"
