%section.box#shortcuts-tools
  %h1.box-title Verktyg & system

  .box-instructions{ class: @tools_and_systems.present? ? "" : "show"}
    %p= raw "Denna box visar verktyg & system baserat på vad du valt för förvaltning och arbetsfält i #{link_to "Min profil", edit_user_path(current_user)}."
    %p Du kan dessutom lägga till fler verktyg & system genom att klicka på pilen uppe till höger i denna box.

  - if @maintenance_news.present?
    %section.maintenance
      %h1 Driftsmeddelanden
      %ul
        - @maintenance_news[:entries].each do |entries|
          %li= link_to entries.title, entries.url
        %li= link_to "Alla driftsmeddelanden", @maintenance_news[:first_feed_url]

  %section.my
    %h1 Mina verktyg & system
    %ul
      - @tools_and_systems.each do |shortcut|
        %li= link_to shortcut.name, shortcut.url
    - if @tools_and_systems.blank?
      = link_to "Lägg till", user_select_shortcuts_path('tools_and_systems'), class: "btn btn-default btn-small add"

  .dropdown.box-menu
    %button#shortcuts-tools-menu.dropdown-toggle{ type: "button", title: "Anpassa innehållet", "data-toggle" => "dropdown" }
    %menu.dropdown-menu{ "aria-labelledby" => "shortcuts-tools-menu", "aria-hidden" => true, role: "menu" }
      %li= link_to "Hantera dessa genvägar...", user_select_shortcuts_path('tools_and_systems')
      %li= link_to "Återställ dessa genvägar", user_reset_shortcuts_path(:tools_and_systems), data: { confirm: 'Vill du återställa alla genvägar för Verkgyt & system?', method: :patch }
      - if admin?
        %li.divider
        %li= link_to "Administrera...", shortcuts_path
      %li.divider
      %li.toggle-instructions= link_to "Hjälp...", root_path
