%section.box#shortcuts-i-want
  %h1.box-title Jag vill
  .box-instructions{ class: @i_want.present? ? "" : "show"}
    %p= raw "Denna box visar Jag vill baserat på vad du valt för förvaltning och arbetsfält i #{link_to 'Min profil', edit_user_path(current_user)}."
    %p Du kan dessutom lägga till fler Jag vill genom att klicka på pilen uppe till höger i denna box.

  %ul
    - @i_want.each do |shortcut|
      %li= link_to shortcut.name, shortcut.url
  - if @i_want.blank?
    = link_to "Lägg till", user_select_shortcuts_path('i_want'), class: "btn btn-default btn-small add"

  .dropdown.box-menu.pull-right
    %a#shortcuts-i-want-menu.dropdown-toggle{ "role" => "button", "data-toggle" => "dropdown", "href" => "#", "title" => "Anpassa denna box" }
      %span.icon-caret-down.icon-large
    %menu.dropdown-menu{ "aria-labelledby" => "shortcuts-i-want-menu" }
      %li= link_to "Hantera dessa genvägar...", user_select_shortcuts_path('i_want')
      %li= link_to "Återställ dessa genvägar", user_reset_shortcuts_path('i_want'), data: { confirm: 'Vill du återställa alla genvägar för Verkgyt & system?', method: :patch }
      - if admin?
        %li.divider
        %li= link_to "Administrera...", shortcuts_path
      %li.divider
      %li.help= link_to "Hjälp...", root_path
