- title "Min sida"
.column.column-1
  = render "feeds_feature"
  = render 'colleagues'

.column.column-2
  = render "feeds_news"
  = render "feeds_dialog"
  = render "feeds_my_own"

.column.column-3
  = render "search_employee"
  - if current_user.early_adopter?
    = render "time_report"
  = render "shortcuts_tools_and_systems"
  = render "shortcuts_i_want"
