- title "Min sida"
.group-1
  .column.column-2
    - if @combined_entries
      = render "feeds"
    - else
      = render "feeds_news"
      = render "feeds_dialog"
      = render "feeds_my_own"

  .column.column-1
    = render "feeds_feature"
    = render 'colleagues'

.column.column-3
  - if current_user.early_adopter?
    = render "time_report"
  = render "shortcuts_tools_and_systems"
  = render "shortcuts_i_want"
