- title "Min sida"
.group-1
  .column.column-2
    .stream-toggle
      = link_to toggle_feed_stream_text, users_update_feed_stream_type_path, "data-method" => :patch
    - if current_user.combined_feed_stream
      = render "feeds"
    - else
      = render "feeds_news"
      = render "feeds_dialog"
      = render "feeds_my_own"

  .column.column-1
    = render "feeds_feature"
    = render 'colleagues'

.column.column-3
  - if current_user.early_adopter?
    = render "time_report"
  = render "shortcuts_tools_and_systems"
  = render "shortcuts_i_want"
