= form_for @feed, html: { class: "basic" } do |f|
  .box-content
    - if @feed.errors.any?
      .warning= t 'messages.validation_errors'

    .form-group
      = f.label :feed_url, "RSS-adress:", class: "control-label"
      .controls
        = f.text_field :feed_url, class: 'form-control'
        - @feed.errors[:feed_url].each do |msg|
          .help-inline.warning= "#{msg}"
        .help-inline
          = 'Du kan lägga till följande typer:'
          %ul
            %li= raw 'Ett RSS-flöde som startar med <strong>http://</strong>'
            %li= raw 'Ett användarnamn för Komin-bloggen, t.ex. <strong>jesbyl</strong>'

    - if @feed.category != "my_own"
      .form-group
        .control-label Kategori:
        .controls= select(:feed, :category,  Feed::CATEGORIES.except('my_own').map { |key, val| [val, key] }, {}, { class: "form-control" } )
    - elsif @feed.users.present?
      .form-group
        .control-label Prenumerant:
        .controls
          = link_to "#{@feed.users.first.first_name} #{@feed.users.first.last_name} (#{@feed.users.first.username})", user_path(@feed.users.first.username)

    .form-group
      .control-label Fel på raken:
      .controls
        = @feed.recent_failures
    .form-group
      .control-label Totalt antal fel:
      .controls
        = @feed.total_failures

    - if @feed.category != "my_own"
      %h2.group-title Obligatorisk för följande roller
      - Role::CATEGORIES.each do |key, val|
        .form-group
          .control-label= "#{val}:"
          = hidden_field_tag "feed[role_ids][]", nil
          .controls.checkbox
            %label.checkbox
              = check_box_tag("toggle-#{key}s")
              Alla

            .roles{ id: "check-#{key}s" }
              - Role.where(category: key).each do |role|
                - is_checked = !@feed.new_record? && @feed.role_ids.include?(role.id) ? true : false
                %label.checkbox
                  = check_box_tag "feed[role_ids][]", role.id, is_checked, id: dom_id(role)
                  = role.name

    .form-group
      %span.no-control-label
      .controls
        = f.submit "Spara och hämta", class: "btn btn-primary"
        = link_to t('actions.cancel'), feeds_path, class: "btn btn-default"
