= "Hej televäxeln!"
= ""
= "#{@user.first_name} #{@user.last_name}"
= @user.email
= @user.phone
= @user.username
= user_url(@user.username)
= ""
= "-- "
= "Detta e-postmeddelande är skickat från Komins kontaktbok"
= "på begäran av den anställde."
= "Generella frågor besvaras av kominteamet@malmo.se."
= ""
