= simple_form_for @api_app, html: { class: "form-horizontal" } do |f|
  = f.error_notification class: "warning"

  .form-inputs
    = f.input :name, input_html: { class: 'input-wide' }
    = f.input :contact, input_html: { class: 'input-wide' }
    = f.input :ip_address, input_html: { class: 'input-wide' }
    - unless @api_app.new_record?
      = f.input :app_token, as: :text_only

  .control-group
    .controls
      = f.button :submit, :class => 'btn-primary'
      = link_to t('actions.cancel'), api_apps_path(@api_app), class: "btn"
