- title "API-applikationer"
%section.box.index
  %h1.box-title= h1
  .table-wrapper
    %table
      %thead
        %tr
          %th Namn
          %th Kontakt
          %th Ip-adress
          %th

      %tbody
        - @api_apps.each do |api_app|
          %tr
            %td= link_to api_app.name, api_app_path(api_app)
            %td= api_app.contact
            %td= api_app.ip_address
            %td= link_to "Radera", api_app, :method => :delete, :data => { :confirm => 'Är du säker?' }, class: "btn btn-danger btn-sm"

        %tr
          %td{ colspan: 3 }
            .actions= link_to "Lägg till", new_api_app_path, class: "btn btn-primary"
