- title "API-applikation"
%section.box.show.api-apps
  %h1.box-title= h1
  .box-content.form-horizontal.form-data

    .control-group.text-only
      .control-label Namn:
      .controls= @api_app.name
    .control-group.text-only
      .control-label Kontakt:
      .controls= @api_app.contact
    .control-group.text-only
      .control-label IP-nummer:
      .controls= @api_app.ip_address

    .control-group.text-only
      .control-label app_token:
      .controls.token= @api_app.app_token

    - if @api_app.app_secret.present?
      .control-group.text-only
        .control-label app_secret:
        .controls.token
          = @api_app.app_secret
          .warning= raw "Kopiera <span class='token'>app_secret</span>. Den sparas inte i klartext och kan inte visas igen."

    - else
      .control-group.text-only
        .control-label app_secret:
        .controls#generate-secret
          %p
            %button.btn.btn-small{ 'data-path' => create_app_secret_path } Generera ny
          %p App secret lagras inte i klartext. Generera en ny vid behov.

    .control-group
      .controls
        = link_to 'Redigera', edit_api_app_path(@api_app), class: "btn"
