- title "Statistik"
%section.box.index.statistics
  %h1.box-title= h1
  .box-content
    %h2.group-title Användare
    %ul.user-stats
      %li= "Är aktiva i kontakboken: #{@user_stats[:total]}"
      %li= "Är deaktiverade: #{@user_stats[:deactivated]}"
      %li= "Har tillkommit senaste sju dagarna: #{@user_stats[:registered_last_week_users]}"
      %li= "Har loggat in senaste sju dagarna: #{@user_stats[:last_week_users]}"

      %li= "Har HR-titel: #{@user_stats[:title][:has]} (#{@user_stats[:title][:distinct]} unika)"
      %li= "Har company: #{@user_stats[:company][:has]} (#{@user_stats[:company][:distinct]} unika)"
      %li= "Har department (Intra): #{@user_stats[:adm_department][:has]} (#{@user_stats[:adm_department][:distinct]} unika)"
      %li= "Har division (Intra): #{@user_stats[:division][:has]} (#{@user_stats[:division][:distinct]} unika)"
      %li= "Har houseidentifier: #{@user_stats[:house_identifier][:has]} (#{@user_stats[:house_identifier][:distinct]} unika)"
      %li= "Har physicaldeliveryofficename: #{@user_stats[:physical_delivery_office_name][:has]} (#{@user_stats[:physical_delivery_office_name][:distinct]} unika)"

      %li= "Har adress: #{@user_stats[:has_address]}"
      %li= "Har rum: #{@user_stats[:has_room]}"
      %li= "Har ett mappat ID i CMG: #{@user_stats[:has_cmg_id]}"
      %li= "Har om mig: #{@user_stats[:has_professional_bio]}"
      %li= "Har statusmeddelande: #{@user_stats[:status][:has]} (#{@user_stats[:status][:distinct]} unika)"
      %li= "Har profilbild: #{@user_stats[:has_avatar]}"
      %li= "Har redigerat sina genvägar: #{@user_stats[:changed_shortcuts]}"
      - if @user_stats[:ldap_diff_mtime]
        %li= link_to "Adresser som skiljer sig mellan Intra och kontaktboken, rapport genererad #{@user_stats[:ldap_diff_mtime]}.", ldap_diff_statistics_path
