- title "Statistik"
%section.box.index.statistics
  %h1.box-title= h1
  .box-content
    %h2.form-group-title Användare
    %ul.user-stats
      %li= "Aktiva i kontakboken: #{@user_stats['total_users']}"
      %li= "Deaktiverade: #{@user_stats["deactivated"]}"
      %li= "Tillkommit senaste sju dagarna: #{@user_stats['registered_last_week_users']}"
      %li= "Loggat in senaste sju dagarna: #{@user_stats['last_week_users']}"
      %li= "HR-titel: #{@user_stats['has_title']}"
      %li= "Har förvaltning: #{@user_stats['has_company']}"
      %li= "Har avdelning: #{@user_stats['has_department']}"
      %li= "Har adress: #{@user_stats['has_address']}"
      %li= "Har rum: #{@user_stats['has_room']}"
      %li= "Har mappat ID i CMG: #{@user_stats['has_cmg_id']}"
      %li= "Har om mig: #{@user_stats['has_professional_bio']}"
      %li= "Har statusmeddelande: #{@user_stats['has_status']}"
      %li= "Har profilbild: #{@user_stats['has_avatar']}"
      - if @user_stats["ldap_diff_mtime"]
        %li= link_to "Adresser som skiljer sig mellan ADM och kontaktboken, rapport genererad #{@user_stats["ldap_diff_mtime"]}.", ldap_diff_statistics_path
