= form_for @language, html: { class: "basic" } do |f|
  .box-content
    - if @language.errors.any?
      .warning= t 'messages.validation_errors'

    .control-group
      = f.label :name, "Namn:", class: "control-label"
      .controls
        = f.text_field :name, class: 'input-wide'
        - @language.errors[:name].each do |msg|
          .help-inline.warning= "#{msg}"

    .control-group
      .controls
        = f.submit t( 'actions.save' ), class: "btn btn-primary"
        = link_to t('actions.cancel'), languages_path, class: "btn"
    - unless @language.new_record?
      .help-inline= link_to "Slå samman med ...", languages_edit_merge_path(@language)
