- if !@users.blank?
  %ul.results
    - @users.each do |user|
      %li.vcard
        %div.avatar= link_to image_tag(user.avatar.url(:medium_quadrat), alt: "Profilbild"), user_path(user.username)
        .info
          %h2.fn= link_to "#{user.first_name} #{user.last_name}", user_path(user.username)
          %p
            - if user.company.present?
              %span.org= link_to "#{user.company_short}", users_tags_path(company: user.company)
            - if user.department.present?
              %span.org= link_to "#{user.department}", users_tags_path(department: user.department)
          %p
            %span.phone= user.phone
            - if user.cell_phone.present?
              %span.phone= user.cell_phone
            %span.email= user.email

          %p.note= user.professional_bio

    - if @has_more
      %li.load-more
        %input.btn.btn-small{ type: "button", value: "Visa fler", "data-path" => users_search_path(load_more_query)}
