= form_tag(users_search_path, method: "get", class: "form-horizontal") do
  .control-group
    = label_tag "query-employee", "Sök användare: ", class: "control-label"
    .controls
      .input-append
        = text_field_tag "query-employee", params[:term], "data-path" => users_path
        = submit_tag "Sök", { class: "btn", name: nil }
      - if params[:term].blank? || @users.blank?
        .help-inline Sök på förnamn, efternamn, e-postadress eller användarnamn.
  - if params[:term].blank?
    .body-copy
      %ul.help
        %li= "#{@total_users} anställda finns i kontaktboken."
        %li= "#{@registered_last_week_users} har tillkommit senaste sju dagarna."
        %li= "#{@last_week_users} användare har loggat in senaste sju dagarna."
        %li= "#{@has_status} har ett statusmeddelande."
        %li= "#{@has_avatar} har en profilbild."
