- title "#{@user.displayname}"
%section.box.form
  %h1.box-title= h1
  .box-content
    = form_for @user, html: { class: "form-horizontal" } do |f|
      - if @user.errors.any?
        .warning= t 'messages.validation_errors'

      - if !@user_roles.present?
        %p.warning= "Välj en eller flera förvaltningar och arbetsfält nedan."
      - elsif !@user_roles.include? 'department'
        %p.warning= "Välj en eller flera förvaltningar nedan."
      - elsif !@user_roles.include? 'working_field'
        %p.warning= "Välj en eller flera arbetsfält nedan."


      .control-group
        = f.label :private_bio, "Om mig:", class: "control-label"
        .controls#professional_bio= f.text_area :professional_bio, class: "input-wide", rows: 7

      .control-group
        = f.label :status_message, "Statusmeddelande:", class: "control-label"
        .controls#status_message= f.text_field :status_message, class: "input-wide"

      .control-group
        = f.label :skill_list, "Kunskapsområden:", class: "control-label"
        .controls#skill_list= f.text_field(:skill_list, class: "input-wide",
            data: { path: skills_suggest_path, load: @user.skills.map{ |l| { id: l.name, name: l.name }}})

      .control-group
        = f.label :language_list, "Språkkunskaper:", class: "control-label"
        .controls#language_list= f.text_field(:language_list, class: "input-wide",
            data: { path: languages_suggest_path, load: @user.languages.map{ |l| { id: l.name, name: l.name }}})

      .control-group
        = f.label :twitter, "Twitter:", class: "control-label"
        .controls#twitter
          .input-prepend
            %span.add-on @
            = f.text_field :twitter, class: "input-wide"

      .control-group
        = f.label :skype, "Skype:", class: "control-label"
        .controls#skype= f.text_field :skype, class: "input-wide"

      .control-group
        = f.label :homepage, "Privat hemsida:", class: "control-label"
        .controls#homepage= f.text_field :homepage, class: "input-wide"

      .control-group
        = f.label :private_bio, "Om mig, personlig bio:", class: "control-label"
        .controls#private_bio= f.text_area :private_bio, class: "input-wide", rows: 7

      .control-group
        .control-label= "Grundprofil i Komin:"
        .controls#roles
          .role
            %label Förvaltningar
            - @roles.select { |r| r.category == "department" }.each do |role|
              %label.checkbox
                = check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), id: dom_id(role)
                = role.name

          .role
            %label Arbetsfält:
            - @roles.select { |r| r.category == "working_field" }.each do |role|
              %label.checkbox
                = check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), id: dom_id(role)
                = role.name

          - if !@user_roles.present?
            %p.warning= "Välj en eller flera förvaltningar och arbetsfält."
          - elsif !@user_roles.include? 'department'
            %p.warning= "Välj en eller flera förvaltningar."
          - elsif !@user_roles.include? 'working_field'
            %p.warning= "Välj en eller flera arbetsfält."

      - if admin?
        .control-group.editable
          .control-label Administratör:
          .controls#admin
            %label.checkbox
              = f.check_box :admin
              Ja
            - @user.errors[:admin].each do |msg|
              .help-inline.warning= "#{msg}"

        .control-group.editable
          .control-label Early adopter:
          .controls#early_adopter
            %label.checkbox
              = f.check_box :early_adopter
              Ja

      .control-group
        .controls
          = f.submit t( 'actions.save' ), class: "btn btn-primary"
          = link_to t( 'actions.cancel' ), user_path(@user.username), class: "btn"

