- title "Redigera profil för #{@user.displayname}"
%section.box.form#edit-user
  %h1.box-title= h1
  .box-content
    = simple_form_for @user, html: { class: "form-horizontal" } do |f|
      = f.error_notification class: "warning"

      - if @user.roles.empty? # When user is directed here to select roles
        %p.warning= "Välj en eller flera förvaltningar/arbetsfält nedan."

      = f.input :displayname, wrapper: :readonly do
        = @user.displayname
        = link_to "(Info)", "#", class: "show-change-info"

      = f.input :title, wrapper: :readonly do
        = @user.title
        = link_to "(Info)", "#", class: "show-change-info"

      = f.input :professional_bio, input_html: { class: 'input-wide', rows: 7 }

      = f.input :company, wrapper: :readonly do
        = @user.company_short
        = link_to "(Info)", "#", class: "show-change-info"

      = f.input :department, wrapper: :readonly do
        = @user.department
        = link_to "(Info)", "#", class: "show-change-info"

      = f.input :status_message, input_html: { class: 'input-wide' }

      %h2.form-group-title Grundprofil i Komin:
      = f.association :roles, as: :check_boxes, collection: @roles.select { |r| r.category == "department" }, label: "Förvaltningar:"
      = f.association :roles, as: :check_boxes, collection: @roles.select { |r| r.category == "working_field" }, label: "Arbetsfält:",
          hint: "Här väljer du vilken/vilka förvaltningar/arbetsfält du vill se i Kominflikarna Min förvaltning, Mitt arbetsfält högst upp i Komin."

      %h2.form-group-title Kontakt

      = f.input :email, wrapper: :readonly do
        = @user.email
        = link_to "(Info)", "#", class: "show-change-info"

      = f.input :phone, wrapper: :readonly do
        = @user.phone
        = link_to "(Info)", "#", class: "show-change-info"
        .change-info
          %p
            = "Ditt fasta telefonnummer finns lagrat i Malmö stads centrala databas över alla anställda. Kontaktboken visar vilket nummer som är knutet till dig. Om det visas fel telefonnummer beställer du en ändring i "
            = link_to "IT-kompassen.", "http://marval.malmo.se/MSMSelfService/Itservice/telefoni-forandring.aspx"
            = "Om du behöver hjälp, kontakta ITS, 040-342727."

      = f.input :cell_phone, wrapper: :readonly do
        = @user.cell_phone
        = link_to "(Info)", "#", class: "show-change-info"
        .change-info
          %p
            = "Ditt mobilnummer finns lagrat i Malmö stads centrala databas över alla anställda. Kontaktboken visar vilket nummer som är knutet till dig. Om det visas fel telefonnummer beställer du en ändring i "
            = link_to "IT-kompassen.", "http://marval.malmo.se/MSMSelfService/Itservice/telefoni-forandring.aspx"
            = "Om du behöver hjälp, kontakta ITS, 040-342727."

      = f.input :skype

      %h2.form-group-title Arbetsplats
      = f.input :room
      = f.input :address, input_html: { class: 'input-wide' }
      = f.hidden_field :geo_position_x
      = f.hidden_field :geo_position_y
      = f.hidden_field :post_code
      = f.hidden_field :postal_town
      = f.hidden_field :neighborhood

      %h2.form-group-title Kompetensprofil
      = f.input :skill_list,
        input_html: { "data-path" => skills_suggest_path, "data-load" => @user.skills.map{ |l| { id: l.name, name: l.name }}.to_json, class: "input-wide" }

      = f.input :language_list,
        input_html: { "data-path" => languages_suggest_path, "data-load" => @user.languages.map{ |l| { id: l.name, name: l.name }}.to_json, class: "input-wide" }

      %h2.form-group-title Personsligt
      = f.input :private_bio, input_html: { class: 'input-wide', rows: 7 }

      = f.input :twitter, wrapper: :prepend do
        %span.add-on @
        = f.input_field :twitter

      = f.input :homepage, input_html: { class: 'input-wide' }

      - if admin?
        %h2.form-group-title Rättigheter
        = f.input :admin
        = f.input :early_adopter

      .control-group
        .controls
          = f.button :submit, :class => 'btn-primary'
          = link_to t('actions.cancel'), user_path(@user.username), class: "btn"
