- title "Grundprofil för #{@user.displayname}"
%section.box.form
  %h1.box-title= h1
  .box-content
    = form_for @user, html: { class: "form-horizontal" } do |f|
      - if !@user_roles.present?
        %p.warning= "Välj en eller flera förvaltningar och arbetsfält nedan."
      - elsif !@user_roles.include? 'department'
        %p.warning= "Välj en eller flera förvaltningar nedan."
      - elsif !@user_roles.include? 'working_field'
        %p.warning= "Välj en eller flera arbetsfält nedan."

      %p.help= "På den här sidan ställer du in din grundprofil – alltså vilken förvaltning du arbetar på och vilket arbetsfält du är verksam inom."
      %p.help= "Din grundprofil styr vilka nyheter, diskussioner, verktyg & system och Jag vill som visas på Min sida. Grundprofilen styr också vad som visas i flikarna Min förvaltning och Mitt arbetsfält."

      - if @user.errors.any?
        .warning= t 'messages.validation_errors'

      .control-group
        = f.label :business_card_title, "Visitkortstitel:", class: "control-label"
        .controls= f.text_field :business_card_title, class: "input-wide"

      .control-group
        = f.label :private_bio, "Om mig, personlig bio:", class: "control-label"
        .controls= f.text_area :private_bio, class: "input-wide", rows: 7

      .control-group
        = f.label :skill_list, "Kunskapsområden:", class: "control-label"
        .controls= f.text_field(:skill_list, class: "input-wide",
            data: { path: skills_suggest_path, load: @user.skills.map{ |l| { id: l.name, name: l.name }}})

      .control-group
        = f.label :responsibility_list, "Ansvarsområden:", class: "control-label"
        .controls= f.text_field(:responsibility_list, class: "input-wide",
            data: { path: responsibilities_suggest_path, load: @user.responsibilities.map{ |l| { id: l.name, name: l.name }}})


      .control-group
        = f.label :language_list, "Språkkunskaper:", class: "control-label"
        .controls= f.text_field(:language_list, class: "input-wide",
            data: { path: languages_suggest_path, load: @user.languages.map{ |l| { id: l.name, name: l.name }}})


      .control-group
        = f.label :twitter, "Twitter:", class: "control-label"
        .controls= f.text_field :twitter, class: "input-wide"

      .control-group
        = f.label :skype, "Skype:", class: "control-label"
        .controls= f.text_field :skype, class: "input-wide"

      .control-group
        = f.label :homepage, "Privat hemsida:", class: "control-label"
        .controls= f.text_field :homepage, class: "input-wide"

      - Role::CATEGORIES.each do |key, val|
        .control-group
          .control-label= "#{val}:"
          .controls
            - @roles.select { |r| r.category == key }.each do |role|
              %label.checkbox
                = check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), id: dom_id(role)
                = role.name

      - if admin?
        .control-group
          .control-label Rättigheter:
          .controls
            %label.checkbox
              = f.check_box :admin
              Administratör
            - @user.errors[:admin].each do |msg|
              .help-inline.warning= "#{msg}"

            %label.checkbox
              = f.check_box :early_adopter
              Early Adopter

      .control-group
        .controls
          = f.submit t( 'actions.save' ), class: "btn btn-primary"
          = link_to t( 'actions.cancel' ), user_path(@user.username), class: "btn"

