- title "Sök medarbetare"
%section.box.index.users
  %h1.box-title= h1
  .box-content.body-copy
    - if params[:company].present?
      %h1= "Medarbetare på #{params[:company].gsub(/^[\d\s]*/, "")}"
    - elsif params[:department].present?
      %h1= "Medarbetare på #{params[:department]}"
    - elsif params[:skill].present?
      %h1= "Medarbetare som kan #{params[:skill]}"
    - elsif params[:language].present?
      %h1= "Medarbetare som kan #{params[:language]}"
    - else
      = form_tag(users_path, method: "get", class: "form-horizontal") do
        .control-group
          = label_tag "query-employee", "Sök användare: ", class: "control-label"
          .controls
            .input-append
              = text_field_tag "query-employee", params[:term], name: "term", "data-path" => users_path, class: "full-search", placeholder: "Ange söktext"
              = submit_tag "Sök", { class: "btn", name: nil }
            .help-inline Sök på förnamn, efternamn, e-postadress eller användarnamn.

      - if params[:term].present? && @users.empty?
        %p.warning Ingen användare matchade din sökning

  = render "results"

  - if admin?
    %ul.user-stats
      %li= "#{@user_stats['total_users']} anställda finns i kontaktboken."
      %li= "#{@user_stats['registered_last_week_users']} har tillkommit senaste sju dagarna."
      %li= "#{@user_stats['last_week_users']} användare har loggat in senaste sju dagarna."
      %li= "#{@user_stats['has_status']} har ett statusmeddelande."
      %li= "#{@user_stats['has_avatar']} har en profilbild."
