- title "#{@user.displayname}"
%section.box.show.user{ class: admin_or_myself? ? "edit-controls" : ""}
  %h1.box-title= h1
  .box-content.form-horizontal.form-data
    / .actions.top
    /   - unless myself?
    /     .colleagueship
    /       - if @colleagueship.present?
    /         %button.btn.btn-mini.remove{ data: { "colleagueship-id" => @colleagueship.id, "path" => colleagueships_path, "user-id" => @user.id }} Följer
    /       - else
    /         %button.btn.btn-primary.btn-mini.add{ data: { path: colleagueships_path, "user-id" => @user.id }} Följ
    /   - if admin_or_myself?
    /     .change-profile= link_to "Redigera profil", edit_user_path(@user), class: "btn btn-small"

    %section.vcard
      .photo= image_tag @user.avatar.url(:large), alt: "Profilbild"
      .main-card
        %h2.fn= "#{@user.first_name} #{@user.last_name}"
        = simple_format @user.professional_bio, class: "professional-bio"
        %p.org
          - if @user.title.present?
            %span.title= "#{@user.title}, "
          - if @user.company.present?
            %span.department= link_to "#{@user.company_short}, ", users_path(company: @user.company)
          - if @user.department.present?
            %span.team= link_to @user.department, users_path(department: @user.department)
        %p.phone= [@user.phone, @user.cell_phone].reject(&:blank?).join(", ")
        %p.email= @user.email
        %p.status_message= "Statusmeddelande: #{@user.status_message || "Jag har ingen status än"}"

      %section.address
        %h2.form-group-title Arbetsplats
        %p.room= "Rumsnummer: #{@user.room}"
        %p
          = "Gatuadress:"
          %br
          - if @user.address.present?
            %span.street-address= link_to @user.address, show_on_map(@user.address)
            %br
            %span.postal-code= "#{@user.post_code} "
            %span.locality= "#{@user.postal_town}"

      %section.org
        %h2.form-group-title= "Rapporterar till:"
        - if @user.manager.present?
          .photo= link_to image_tag(@user.manager.avatar.url(:tiny_quadrat), alt: "Profilbild"), user_path(@user.manager.username)
          .text
            %p= link_to @user.manager.displayname, user_path(@user.manager.username)
            %p= @user.manager.title
        - else
          = "#{possessive(@user.displayname)} chef har inte loggat in på min sida än"

        - if @user.subordinates.present?
          %h2.form-group-title= "Linjechef till:"
          %ul
            - @user.subordinates.each do |subordinate|
              %li
                .photo= link_to image_tag(subordinate.avatar.url(:tiny_quadrat), alt: "Profilbild"), user_path(subordinate.username)
                .text
                  %p= link_to subordinate.displayname, user_path(subordinate.username)
                  %p= subordinate.title

      %section.competence
        %h2.form-group-title Kompetensprofil
        %p= "Kunskapsområden: #{@user.skills.map(&:name).join(", ")}"
        %p= "Språkkunskaper: #{@user.languages.map(&:name).to_sentence.humanize}"

      %section.intranet-activities
        %h2.form-group-title Kominaktiviteter
        %p= link_to "Nyheter", "http://webapps04.malmo.se/nyheter/author/#{@user.username}"
        %p= link_to "Blogginlägg", "http://webapps04.malmo.se/blogg/author/#{@user.username}"

      %section.personal
        %h2.form-group-title Personsligt
        .note= simple_format @user.private_bio
        %p.twitter
          = "Twitter:"
          - if @user.twitter.present?
            = link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}"
        %p.skype= "Skype: #{@user.skype}"
        %p.homepage
          = "Privat hemsida:"
          - if @user.homepage.present?
            = link_to @user.homepage, @user.homepage

      %section.misc
        %h2.form-group-title Övrigt
        %p= "Grundprofil i Komin: #{@user.roles.map(&:name).to_sentence}"
        %p= "Användarnamn: @user.username"

        - if admin?
          %p= "Administratör: #{@user.admin? ? 'Ja' : 'Nej'}"
          %p= "Early adopter: #{@user.early_adopter? ? 'Ja' : 'Nej'}"
          %p= "Första inloggningen: #{l @user.created_at, format: :short}"
        %p= "Senast inloggad: #{l @user.last_login, format: :short}"

    - if admin_or_myself?
      .actions.change-profile
      = link_to "Redigera profil", edit_user_path(@user), class: "btn btn-small"
      = link_to "Byt bild", edit_avatar_path(@user), class: "change-avatar btn btn-mini"
