- title "#{@user.displayname}"
%section.box.show.user{ class: admin_or_myself? ? "edit-controls" : ""}
  %h1.box-title= h1
  .box-content.basic.form-data

    %section.vcard
      .photo
        = image_tag @user.avatar.url(:large), alt: "Profilbild"
        - if admin_or_contacts_editor_or_myself?
          = link_to(raw("Redigera <span>profil</span>"), edit_user_path(@user), class: "edit btn btn-default btn-sm")
          = link_to "Byt bild", edit_avatar_path(@user), class: " btn btn-default btn-sm"

      .main-card
        - unless myself?
          .colleagueship
            - if @colleagueship.present?
              %button.btn.btn-default.btn-sm.remove{ data: { "colleagueship-id" => @colleagueship.colleague.id, "path" => colleagueships_path, "user-id" => @user.id }} Följer
            - else
              %button.btn.btn-primary.btn-sm.add{ data: { path: colleagueships_path, "user-id" => @user.id }} Följ
        .add-contact= link_to "VCard", "#{user_path(@user.username)}.vcf", class: "btn btn-default btn-sm"

        %h2.fn= "#{@user.first_name} #{@user.last_name}"
        %p.org
          - if @user.title.present?
            %span.title= link_to "#{@user.title}, ", users_tags_path(title: @user.title)
          - if @user.company.present?
            %span.department= link_to "#{@user.company_short} ", users_tags_path(company: @user.company)

        = simple_format @user.professional_bio, class: "professional-bio"
        %p.phone= [@user.phone, @user.cell_phone].reject(&:blank?).join(", ")
        %p.email= @user.email
        - unless @user.cmg_id == "0"
          #user-activities.hide{ "data-path" => user_activities_path(@user.cmg_id) }

    .employee-column-1
      %section.address.vcard
        %h2.group-title Arbetsplats
        %p.room
          = "Rumsnummer: #{@user.room}"
        %p.street-address
          = "Besöksadress:"
          - if @user.address.present?
            = link_to @user.address, "#map", title: @user.address, data: { poi: @user.address, "map-selector" => "#map", "scroll-to" => ".address.vcard" }
        #map

      %section.competence
        %h2.group-title Kunskapsområden
        - if @user.skills.present?
          %ul
            - @user.skills.each do |skill|
              %li= link_to skill.name, users_tags_path(skill: skill.name)

      %section.languages
        %h2.group-title Språkkunskaper
        - if @user.languages.present?
          %ul
            - @user.languages.each do |language|
              %li= link_to language.name, users_tags_path(language: language.name)

      %section.activities
        %h2.group-title Projekt & aktiviteter
        - if @user.activities.present?
          %ul
            - @user.activities.each do |activity|
              %li= link_to activity.name, users_tags_path(activity: activity.name)

      %section.intranet-activities
        %h2.group-title Kominaktiviteter
        %ul
          %li= link_to "Nyheter som #{@user.first_name} skrivit", "https://kominnyheter.malmo.se/author/#{@user.username}"
          %li= link_to "Blogginlägg som #{@user.first_name} gjort", "https://kominblogg.malmo.se/author/#{@user.username}"

      %section.personal
        %h2.group-title Personligt
        .note= simple_format @user.private_bio
        %p.twitter
          = "Twitter:"
          - if @user.twitter.present?
            = link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}"

        %p.skype= "Skype: #{@user.skype}"

        %p.linkedin
          = "LinkedIn:"
          - if @user.linkedin.present?
            = link_to @user.linkedin, @user.linkedin

        %p.homepage
          = "Privat hemsida:"
          - if @user.homepage.present?
            = link_to @user.homepage, @user.homepage

    .employee-column-2
      %section.org
        %h2.group-title Rapporterar till
        - if @user.manager.present?
          .photo= link_to image_tag(@user.manager.avatar.url(:tiny_quadrat), alt: "Profilbild"), user_path(@user.manager.username)
          .text
            %p= link_to @user.manager.displayname, user_path(@user.manager.username)
            %p= @user.manager.title
        - else
          %p= "#{@user.first_name} #{possessive(@user.last_name)} chef har inte loggat in på min sida än"

      - if @user.subordinates.present?
        %section.org
          %h2.group-title Linjechef till/ansvarar för
          %ul
            - @user.subordinates.each do |subordinate|
              %li
                .photo= link_to image_tag(subordinate.avatar.url(:tiny_quadrat), alt: "Profilbild"), user_path(subordinate.username)
                .text
                  %p= link_to subordinate.displayname, user_path(subordinate.username)
                  %p= subordinate.title

      %section.organizational
        %h2.group-title Organisationstillhörighet i HR-systemet
        %ol
          - if @user.company.present?
            %li= link_to @user.company, users_tags_path(company: @user.company)
          - ["adm_department", "department", "house_identifier", "physical_delivery_office_name"].each do |org|
            - if @user.send(org).present?
              %li= link_to @user.send(org), users_tags_path(company: @user.company, org.to_sym => @user.send(org))

      %section.misc
        %h2.group-title Övrigt
        %p= "Grundprofil i Komin: #{@user.roles.map(&:name).to_sentence}"
        %p= "Användarnamn: #{@user.username}"

        - if admin?
          %p= "Administratör: #{@user.admin? ? 'Ja' : 'Nej'}"
          %p= "Kontaktboksredaktör: #{@user.contacts_editor? ? 'Ja' : 'Nej'}"
          %p= "Early adopter: #{@user.early_adopter? ? 'Ja' : 'Nej'}"
          %p= "Första inloggningen: #{l @user.created_at, format: :short}"
          %p= "Avaktiverad i katalogen: #{@user.deactivated? ? 'Ja' : 'Nej'}"
          - if @user.deactivated?
            %p= "Avaktiverades: #{l @user.deactivated_at, format: :short}"
        - if @user.last_login.present?
          %p= "Senast inloggad: #{l @user.last_login, format: :short}"

  - if admin_or_myself?
    .dropdown.box-menu
      %button#user-menu.dropdown-toggle{ type: "button", title: "Redigera profilen", "data-toggle" => "dropdown" }
      %menu.dropdown-menu{ "aria-labelledby" => "feeds-dialog-menu", "aria-hidden" => true, role: "menu" }
        %li= link_to "Redigera profil...", edit_user_path(@user)
        %li= link_to "Byt bild...", edit_avatar_path(@user)
