- title "Grundprofil för #{@user.displayname}"
%section.box.show
  %h1.box-title= h1
  .box-content.form-horizontal.form-data
    .control-group.readonly
      .control-label Profilbild:
      .controls.show_avatar
        = link_to "Ändra", edit_avatar_path(@user), class: "change btn btn-small"
        = image_tag "#{avatar_full_url(@user.username, :medium_quadrat)}?#{Time.now.to_i}", alt: "Profilbild"
    .control-group.readonly
      .control-label Användarnamn:
      .controls= @user.username
    .control-group.readonly
      .control-label Förnamn:
      .controls= @user.first_name
    .control-group.readonly
      .control-label Efternamn:
      .controls= @user.last_name

    .control-group.readonly
      .control-label Grundprofil i Komin:
      .controls
        - if admin? || current_user.username == @user.username
          = link_to "Ändra", edit_user_path(@user), class: "change btn btn-small"
        = @user.roles.collect(&:name).to_sentence

    - if admin?
      %h2.form-group-title Övriga uppgifter
      .control-group.readonly
        .control-label Administratör:
        .controls= @user.admin? ? "Ja" : "Nej"
      .control-group.readonly
        .control-label Early adopter:
        .controls= @user.early_adopter? ? "Ja" : "Nej"
      .control-group.readonly
        .control-label Status:
        .controls= @user.status_message
      .control-group.readonly
        .control-label Senast inloggad:
        - if @user.last_login.blank?
          .controls –
        - else
          .controls= l @user.last_login, format: :short
      .control-group.readonly
        .control-label Användaren skapades:
        .controls= l @user.created_at, format: :short
      .control-group.readonly
        .control-label Visningsnamn:
        .controls= @user.displayname
      .control-group.readonly
        .control-label E-postadress:
        .controls= @user.email
      .control-group.readonly
        .control-label Telefon:
        .controls= @user.phone
      .control-group.readonly
        .control-label Mobiltelefon:
        .controls= @user.cell_phone
      .control-group.readonly
        .control-label Titel:
        .controls= @user.title
      .control-group.readonly
        .control-label Förvaltning:
        .controls= @user.company
      .control-group.readonly
        .control-label Rapporterar till:
        - if @user.manager.present?
          .controls= link_to @user.manager.displayname, user_path(@user.manager.username)
        - else
          .controls= "#{possessive(@user.displayname)} chef har inte loggat in på min sida än"
      .control-group.readonly
        .control-label Linjechef till:
        .controls
          %ul
            - @user.subordinates.each do |subordinate|
              %li= link_to subordinate.displayname, user_path(subordinate.username)
      .control-group.readonly
        .control-label Om mig (lokal data):
        .controls= @user.professional_bio
