- title "#{@user.displayname}"
%section.box.show.user{ class: admin_or_myself? ? "edit-controls" : ""}
  %h1.box-title= h1
  .box-content.form-horizontal.form-data
    %section.vcard
      .photo
        = image_tag @user.avatar.url(:large), alt: "Profilbild"
        - if admin_or_myself?
          = link_to(raw("Redigera <span>profil</span>"), edit_user_path(@user), class: "btn btn-mini edit")
          = link_to "Byt bild", edit_avatar_path(@user), class: "change-avatar btn btn-mini"

      .main-card
        - unless myself?
          .colleagueship
            - if @colleagueship.present?
              %button.btn.btn-mini.remove{ data: { "colleagueship-id" => @colleagueship.id, "path" => colleagueships_path, "user-id" => @user.id }} Följer
            - else
              %button.btn.btn-primary.btn-mini.add{ data: { path: colleagueships_path, "user-id" => @user.id }} Följ

        %h2.fn= "#{@user.first_name} #{@user.last_name}"
        %p.org
          - if @user.title.present?
            %span.title= "#{@user.title}, "
          - if @user.company.present?
            %span.department= link_to "#{@user.company_short}, ", users_path(company: @user.company)
          - if @user.department.present?
            %span.team= link_to @user.department, users_path(department: @user.department)

        = simple_format @user.professional_bio, class: "professional-bio"
        %p.phone= [@user.phone, @user.cell_phone].reject(&:blank?).join(", ")
        %p.email= @user.email
        %p.status_message= "Statusmeddelande: #{@user.status_message || "Jag har ingen status än"}"
        #user-activities{ "data-path" => user_activities_path(@user) }

    .employee-column-1
      %section.address.vcard
        %h2.form-group-title Arbetsplats
        %p.room= "Rumsnummer: #{@user.room}"
        %p.street-address= "Besöksadress: #{@user.address}"

      %section.competence
        %h2.form-group-title Kompetensprofil
        %p= raw "Kunskapsområden: #{skill_link_list @user.skills}"
        %p= raw "Språkkunskaper: #{language_link_list @user.languages}"

      %section.intranet-activities
        %h2.form-group-title Kominaktiviteter
        %p= link_to "Nyheter som #{@user.first_name} skrivit", "https://webapps04.malmo.se/nyheter/author/#{@user.username}"
        %p= link_to "Blogginlägg som #{@user.first_name} gjort", "https://webapps04.malmo.se/blogg/author/#{@user.username}"

      %section.personal
        %h2.form-group-title Personligt
        .note= simple_format @user.private_bio
        %p.twitter
          = "Twitter:"
          - if @user.twitter.present?
            = link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}"
        %p.skype= "Skype: #{@user.skype}"
        %p.homepage
          = "Privat hemsida:"
          - if @user.homepage.present?
            = link_to @user.homepage, @user.homepage

    .employee-column-2

      %section.org
        %h2.form-group-title Rapporterar till
        - if @user.manager.present?
          .photo= link_to image_tag(@user.manager.avatar.url(:tiny_quadrat), alt: "Profilbild"), user_path(@user.manager.username)
          .text
            %p= link_to @user.manager.displayname, user_path(@user.manager.username)
            %p= @user.manager.title
        - else
          %p= "#{possessive(@user.displayname)} chef har inte loggat in på min sida än"

      - if @user.subordinates.present?
        %section.org
          %h2.form-group-title Linjechef till/ansvarar för
          %ul
            - @user.subordinates.each do |subordinate|
              %li
                .photo= link_to image_tag(subordinate.avatar.url(:tiny_quadrat), alt: "Profilbild"), user_path(subordinate.username)
                .text
                  %p= link_to subordinate.displayname, user_path(subordinate.username)
                  %p= subordinate.title

      %section.misc
        %h2.form-group-title Övrigt
        %p= "Grundprofil i Komin: #{@user.roles.map(&:name).to_sentence}"
        %p= "Användarnamn: #{@user.username}"

        - if admin?
          %p= "Administratör: #{@user.admin? ? 'Ja' : 'Nej'}"
          %p= "Early adopter: #{@user.early_adopter? ? 'Ja' : 'Nej'}"
          %p= "Första inloggningen: #{l @user.created_at, format: :short}"
        %p= "Senast inloggad: #{l @user.last_login, format: :short}"

  - if admin_or_myself?
    .dropdown.box-menu.pull-right
      %a#user-menu.dropdown-toggle{ "role" => "button", "data-toggle" => "dropdown", "href" => "#", "title" => "Redigera profilen" }
        %span.icon-caret-down.icon-large
      %menu.dropdown-menu{ "aria-labelledby" => "feeds-dialog-menu" }
        %li= link_to "Redigera profil...", edit_user_path(@user)
        %li= link_to "Byt bild...", edit_avatar_path(@user)
