- title "Grundprofil för #{@user.displayname}"
%section.box.show.user
  %h1.box-title= h1
  .box-content.form-horizontal
    = form_for @user, html: { id: "user-profile", class: "form-horizontal" } do |f|

      - unless myself?
        .colleagueship
          - if @colleagueship.present?
            = link_to "Sluta följ", colleagueship_path(@colleagueship.id),
              data: { method: "delete", remote: "true" }, rel: "nofollow", class: "remove btn btn-small"
          - else
            = link_to "Följ", colleagueships_path(colleague_id: @user.id),
              data: { method: "post", remote: "true" }, rel: "nofollow", class: "add btn btn-small"

      %h2.form-group-title.summary Sammanfattning

      .control-group.readonly
        .control-label Namn:
        .controls= "#{@user.first_name} #{@user.last_name}"

      .control-group.readonly
        .control-label Visitkortstitel:
        .controls= @user.business_card_title

      .control-group.readonly
        .control-label HR-titel:
        .controls= @user.title

      .control-group.readonly
        .control-label Enhet/arbetsplats:
        .controls= 'AD-fält?'

      .control-group.readonly
        .control-label Avdelning:
        .controls
          - if @user.department.present?
            = link_to @user.department, users_path(department: @user.department)

      .control-group.readonly
        .control-label Förvaltning:
        .controls
          - if @user.company.present?
            = link_to @user.company_short, users_path(company: @user.company)

      .control-group.readonly
        .control-label Min status:
        .controls= @user.status_message

      .control-group.readonly
        .control-label Profilbild:
        .controls
          - if admin_or_myself?
            = link_to "Byt bild", edit_avatar_path(@user), class: "change btn btn-mini"
          = image_tag "#{avatar_full_url(@user.username, :medium_quadrat)}?#{Time.now.to_i}", alt: "Profilbild"

      %h2.form-group-title Kontakt
      .control-group.readonly
        .control-label E-post:
        .controls
          - if @user.email.present?
            = link_to @user.email.downcase, "mailto:#{@user.email.downcase}"

      .control-group.readonly
        .control-label Fast telefon:
        .controls= @user.phone

      .control-group.readonly
        .control-label Mobiltelefon:
        .controls= @user.cell_phone

      .control-group.readonly
        .control-label Twitter:
        .controls
          - if @user.twitter.present?
            = link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}"

      .control-group.readonly
        .control-label Skype:
        .controls
          - if @user.skype.present?
            = link_to @user.skype, "skype:#{@user.skype}?call"

      %h2.form-group-title Organisation

      .control-group.readonly
        .control-label HR-titel:
        .controls= @user.title

      .control-group.readonly
        .control-label Enhet/arbetsplats:
        .controls= 'AD-fält?'

      .control-group.readonly
        .control-label Avdelning:
        .controls
          - if @user.department.present?
            = link_to @user.department, users_path(department: @user.department)

      .control-group.readonly
        .control-label Förvaltning:
        .controls
          - if @user.company.present?
            = link_to @user.company_short, users_path(company: @user.company)

      .control-group.readonly
        .control-label Rapporterar till:
        .controls
          - if @user.manager.present?
            = link_to @user.manager.displayname, user_path(@user.manager.username)
          - else
            = "#{possessive(@user.displayname)} chef har inte loggat in på min sida än"

      .control-group.readonly
        .control-label Linjechef till:
        .controls
          %ul
            - @user.subordinates.each do |subordinate|
              %li= link_to subordinate.displayname, user_path(subordinate.username)

      %h2.form-group-title Adress
      .control-group.readonly
        .control-label Besöksadress:
        .controls= "AD-fält?"

      .control-group.readonly
        .control-label Postadress:
        .controls= "AD-fält?"

      %h2.form-group-title Nyckelord
      .control-group.readonly
        .control-label Kunskapsområden:
        .controls= @user.skills.map(&:name).join(", ")

      .control-group.readonly
        .control-label Ansvarsområden:
        .controls= @user.responsibilities.map(&:name).join(", ")

      %h2.form-group-title Övrigt
      .control-group.readonly
        .control-label Användarnamn:
        .controls= @user.username

      .control-group.readonly
        .control-label Grundprofil i Komin:
        .controls= @user.roles.map(&:name).to_sentence

      .control-group.readonly
        .control-label Administratör:
        .controls= @user.admin? ? "Ja" : "Nej"

      .control-group.readonly
        .control-label Early adopter:
        .controls= @user.early_adopter? ? "Ja" : "Nej"

      .control-group.readonly
        .control-label Senast inloggad:
        - if @user.last_login.blank?
          .controls –
        - else
          .controls= l @user.last_login, format: :short

      .control-group.readonly
        .control-label Användaren skapades:
        .controls= l @user.created_at, format: :short

      %h2.form-group-title Personsligt
      .control-group.readonly
        .control-label Om mig, personlig bio:
        .controls= simple_format @user.private_bio

      .control-group.readonly
        .control-label Språkkunskaper:
        .controls= @user.languages.map(&:name).to_sentence.humanize

      .control-group.readonly
        .control-label Privat hemsida:
        - if @user.homepage.present?
          .controls= link_to @user.homepage, @user.homepage

      %h2.form-group-title Kominaktiviteter
      .control-group.readonly
        .control-label Nyheter:
        .controls= link_to "Visa nyheter", "http://webapps04.malmo.se/nyheter/author/#{@user.username}"

      .control-group.readonly
        .control-label Blogginlägg:
        .controls= link_to "Visa blogginlägg", "http://webapps04.malmo.se/blogg/author/#{@user.username}"

      - if admin_or_myself?
        .actions.change-profile= link_to "Redigera profil", edit_user_path(@user), class: "btn btn-small"
