- title "Sök medarbetare"
%section.box.index.users
  %h1.box-title= h1
  .box-content.body-copy
    %h1= params.except(:controller, :action).map {|k,v| v}.join(", ")
    - if @total.present?
      %div= "#{number_to_words(@total).titlecase} medarbetare matchade din sökning"

  = render partial: "search_results", locals: { data_path: users_tags_path(load_more_query) }
