= form_for @skill, html: { class: "form-horizontal" } do |f|
  .box-content
    - if @skill.errors.any?
      .warning= t 'messages.validation_errors'

    .control-group
      = f.label :name, "Namn:", class: "control-label"
      .controls
        = f.text_field :name, class: 'input-wide'
        - @skill.errors[:name].each do |msg|
          .help-inline.warning= "#{msg}"

    .control-group
      .controls
        = f.submit t( 'actions.save' ), class: "btn btn-primary"
        = link_to " #{t( 'actions.delete' )}", @skill, data: { confirm: 'Är du säker?', method: :delete }, class: "btn btn-danger"
        = link_to t('actions.cancel'), skills_path, class: "btn"
