- title "Kunskapsområden"
%section.box.index
  %h1.box-title= h1
  .box-content
    - if @skills.empty?
      %p.warning Inga kunskapsområden matchade din sökning

    = render "search_form"

  - if @skills.present?
    %table
      %thead
        %tr
          %th Namn
          %th Medarbetare
          %th
      %tbody
        - @skills.each do |skill|
          %tr
            %td= link_to skill.name, edit_skill_path(skill)
            %td= link_to "Visa", users_tags_path(skill: skill.name)
            %td.delete= link_to "Radera", skill, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"

        %tr
          %td{ colspan: 3 }
            .actions= link_to "Lägg till", new_skill_path, class: "btn btn-primary"
