- title "Genvägar"
%section.box.index
  %h1.box-title= h1
  %table
    %thead
      %tr
        %th Namn
        %th.secondary Kategori
        %th
    %tbody
      - @shortcuts.each do |shortcut|
        %tr
          %td= link_to shortcut.name, edit_shortcut_path(shortcut)
          %td.secondary= Shortcut::CATEGORIES[shortcut.category]
          %td.delete= link_to "Radera", shortcut, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"

      %tr
        %td{ colspan: 3 }
          .actions= link_to "Lägg till", new_shortcut_path, class: "btn btn-primary"
