- title "Profilbild för #{@user.displayname}"
%section.box.form.avatar
  %h1.box-title= h1
  .box-content
    = form_for @user, url: update_avatar_path(params[:id]), html: { multipart: true, class: "basic" } do |f|
      .edit_avatar
        = image_tag @user.avatar.url(:medium_quadrat), alt: "Profilbild"
      .avatar-help.help
        %p Här laddar du upp en bild på dig själv. Bilden visas i Komin bredvid blogginlägg, nyheter, kommentarer och bredvid din status.
        %p Bilden ska vara en välliknande porträttbild av dig själv.
        %p I och med att du laddar upp en bild av dig själv godkänner du att bilden lagras och används i Komin. Ladda inte upp bilder som någon annan äger rätten till.

      - if @user.errors.any?
        .warning= t 'messages.validation_errors'

      .form-group
        = f.label :avatar, "Ny bild:", class: "control-label"
        .controls
          = f.file_field :avatar, class: "fileupload"
          .help-block= 'Du kan ladda upp en jpeg- eller tiff-bild. Max filstrolek är 4MB.'
          - @user.errors[:avatar_file_size].each do |msg|
            .help-block.warning= "#{msg}"
          - @user.errors[:avatar_content_type].each do |msg|
            .help-block.warning= "#{msg}"

      .form-group
        %span.no-control-label
        .controls
          = f.submit "Ladda upp", class: "btn btn-primary"
          = link_to t( 'actions.cancel' ), ( session[:referer] || user_path(@user.username) ), class: "btn btn-default"
