= simple_form_for @group_contact, html: { class: "basic" } do |f|
  = f.error_notification class: "warning"

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :phone
    = f.input :phone_hours
    = f.input :cell_phone
    = f.input :fax
    = f.input :address
    = f.input :zip_code
    = f.input :postal_town
    = f.input :visitors_address
    = f.input :visitors_address_zip_code, readonly: true
    = f.input :visitors_address_postal_town, readonly: true
    = f.input :visitors_district, readonly: true
    = f.hidden_field :visitors_address_geo_position_x, as: :hidden
    = f.hidden_field :visitors_address_geo_position_y, as: :hidden
    = f.input :visiting_hours
    = f.input :homepage

  .form-group
    %span.no-control-label
    .controls
      = f.button :submit, class: 'btn btn-primary'
      = link_to t('actions.cancel'), group_contacts_path, class: "btn btn-default"
