- title "Slå samman aktiviteter"
%section.box.form
  %h1.box-title= h1
  = form_for @activity, url: activities_merge_path(@activity), method: :patch, html: { id: "merge-activity", class: "basic merge" } do |f|
    .box-content
      - if @activity.errors.any?
        .warning= t 'messages.validation_errors'

      .form-group
        = label_tag :name, "Aktivitet:", class: "control-label"
        .controls= @activity.name

      .form-group
        = label_tag :into, "Slå samman med:", class: "control-label"
        .controls
          = text_field_tag :into, nil, class: 'input-wide', 'data-search-path' => activities_search_path
          - @activity.errors[:into].each do |msg|
            .help-inline.warning= "#{msg}"

      .form-group
        .controls
          = f.submit "Slå samman", class: "btn btn-primary"
          = link_to t('actions.cancel'), activities_path, class: "btn"
