- title "Aktiviteter"
%section.box.index
  %h1.box-title= h1
  .box-content
    - if @activities.empty?
      %p.warning Inga aktiviteter matchade din sökning

    = render "search_form"

  - if @activities.present?
    %table
      %thead
        %tr
          %th Namn
          %th Medarbetare
          %th
      %tbody
        - @activities.each do |activity|
          %tr
            %td= link_to activity.name, edit_activity_path(activity)
            %td= link_to "Visa", users_tags_path(activity: activity.name)
            %td.delete= link_to "Radera", activity, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"

        %tr
          %td{ colspan: 3 }
            .actions= link_to "Lägg till ny", new_activity_path, class: "btn btn-primary"
