- if @feed.errors.any?
  .warning= t 'messages.validation_errors'

.form-group
  = f.label :feed_url, "RSS-adress:", class: "control-label"
  .controls
    = f.text_field :feed_url, class: "form-control"
    - @feed.errors[:feed_url].each do |msg|
      .help-block.warning= "#{msg}"

    .help-block
      = 'Du kan lägga till följande typer:'
      %ul
        %li= raw 'Ett RSS-flöde som startar med <strong>http://</strong>'
        %li= raw 'Ett användarnamn för Komin-bloggen, t.ex. <strong>jesbyl</strong>'

.form-group
  %span.no-control-label
  .controls
    = f.submit value: t( "actions.save" ), class: "btn btn-primary"
    = link_to t('actions.cancel'), my_own_feeds_path, class: "btn btn-default"
