- title "Mina flöden"
%section.box.index
  %h1.box-title= h1
  %table
    - if @feeds.present?
      %thead
        %tr
          %th Titel
          %th Url
          %th Fel på raken
          %th Fel totalt
          %th
    %tbody
      - @feeds.each do |feed|
        %tr
          %td= feed.title
          %td.url
            %span= link_to feed.feed_url, feed.feed_url
          - status = feed.recent_failures > 0 ? "error" : "success"
          %td{ class: status }= feed.recent_failures
          %td= feed.total_failures
          %td.delete= link_to "Radera", my_own_feed_path(feed), method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"

      %tr
        %td{ colspan: 5 }
          .actions= link_to "Lägg till", new_my_own_feed_path, class: "btn btn-primary"
